@import "./lib/variables";
@import "./lib/clases";
@import "./lib/functions";

@import "./mixins/mixin";

body{
    @extend %styles-body;
}

.container{
    width: 100%;
    @include respond-to($sm){
        background-color: red;
        .container-sub{
           color: #fff;
        }
    } 
    .container-sub{
        @include  FlexContent(flex, center, wrap, auto);
        @extend %styles-ul;
        li{
            cursor: pointer;
            // funcion sumPadding que resive dos valores
            padding: sumPadding(10px, 5px);
            @include repond-to-hover($color-dark){
                color: $color-info; 
            } 
        }
    }
}
a{
    @extend %styles-a;
}

.title-big{
    font-size: map-get($fs, big);
}
.title-normal{
    font-size:  map-get($fs, normal);
}
.title-small{
    font-size:  map-get($fs, small);
}
.title-x-small{
    font-size: map-get($fs, x-small);
}

//Icons 
.container-icons{
       @extend %styles-ul;
       @include  FlexContent(flex, center, nowrap, auto); 
       .container-icons__li{
           margin-right: 20px;
           padding: 10px;
           cursor: pointer;
           .container-icons__i{
                padding: 10px;
                border-radius: 5px;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .7);
           }
       }
}
