@mixin FlexContent($display, $justify, $wrap, $margin) {
    max-width: $pageMaxWidth;
    padding: $basePaddingxy;
    margin: $margin;
    display: $display; 
    justify-content: $justify; 
    flex-wrap: $wrap;
    border: 1px solid red;
}

@mixin respond-to($sm) {

    // los mixin nos permiten crear bloques de contenido como el que tenemos acontinuacion
    @media screen and (max-width: $sm){
           @content;
    }

}

@mixin repond-to-hover($color-dark) {
        &:hover{
            @content;
        }
}